body {
  margin: 0;
  padding: 0;
  background-color: cornflowerblue;
}
#mainDiv {
  position: relative;
  display: flex;
  background-color: white;
  height: 50%;
  width: 80%;
  margin: 15% auto;
  border-radius: 1%;
}
#quoteBtn {
  background-color: cornflowerblue;
  border: none;
  width: 100px;
  height: 40px;
  color: white;
}
#twitterBtn {
  float: right;
  background-color: cornflowerblue;
  height: 40px;
  width: 45px;
  border: none;
  margin-left: 3px;
  color: white;
}
#quoteDiv {
  margin: 0 auto;
  width: 90%;
  height: 80%;
  color: cornflowerblue;
}
#quote {
  font-size: 1.3rem;
  text-align: center;
  align-items: center;
}
#author {
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  margin-bottom: 60px;
}
#buttonDiv {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  margin-right: 10px;
}
